# Test_Data

In [120]:
import pandas as pd
import numpy as np
from time import time
import datetime
from datetime import date
from datetime import datetime
import collections
from collections import defaultdict
from pandas import Series, DataFrame
import datetime as dt

# for warnings 
import warnings
warnings.filterwarnings('ignore')

In [121]:
enquiry = pd.read_csv('raw_enquiry_30_new.csv')
data = pd.read_csv('raw_data_30_new.csv')
account = pd.read_csv('raw_account_30_new.csv')

# Creating the New Features

## count_enquiry_recency_365

In [122]:
enquiry_dt = pd.to_datetime(enquiry['enquiry_dt'])
dt_opened = pd.to_datetime(enquiry['dt_opened'])

In [123]:
enquiry['count_enquiry_recency_365'] = dt_opened - enquiry_dt 
enquiry.head()

,dt_opened,customer_no,upload_dt,enquiry_dt,enq_purpose,enq_amt,count_enquiry_recency_365
0,21-Apr-15,1,21-Apr-15,10-Nov-14,51.0,100000.0,162 days
1,21-Apr-15,1,21-Apr-15,4-Sep-14,12.0,1000000.0,229 days
2,21-Apr-15,1,21-Apr-15,4-May-14,51.0,125000000.0,352 days
3,21-Apr-15,1,21-Apr-15,19-Dec-13,3.0,400000000.0,488 days
4,21-Apr-15,1,21-Apr-15,1-Nov-13,0.0,1000.0,536 days

In [124]:
f = enquiry[(enquiry.count_enquiry_recency_365<= '365days')]
group = f.groupby(f['customer_no'])
group1 = group.count()
enqCount = group1.loc[:,['count_enquiry_recency_365']]
data_1 = data.join(enqCount, on='customer_no')
data_1.count_enquiry_recency_365.fillna(0, inplace=True)
data_1.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,R,NaN,NaN,0000-00-00,0.0,98220XXXXX,1.0,N,0,3.0
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,R,NaN,NaN,0000-00-00,0.0,98308XXXXX,1.0,N,0,0.0
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,R,NaN,NaN,0000-00-00,0.0,98107XXXXX,1.0,N,0,1.0
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,O,NaN,NaN,0000-00-00,0.0,98100XXXXX,1.0,N,0,2.0
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,R,NaN,NaN,1/31/44,1.0,98202XXXXX,2.0,N,0,2.0

## count_enquiry_recency_90

In [125]:
enquiry['count_enquiry_recency_90'] = dt_opened - enquiry_dt 
enquiry.head()

,dt_opened,customer_no,upload_dt,enquiry_dt,enq_purpose,enq_amt,count_enquiry_recency_365,count_enquiry_recency_90
0,21-Apr-15,1,21-Apr-15,10-Nov-14,51.0,100000.0,162 days,162 days
1,21-Apr-15,1,21-Apr-15,4-Sep-14,12.0,1000000.0,229 days,229 days
2,21-Apr-15,1,21-Apr-15,4-May-14,51.0,125000000.0,352 days,352 days
3,21-Apr-15,1,21-Apr-15,19-Dec-13,3.0,400000000.0,488 days,488 days
4,21-Apr-15,1,21-Apr-15,1-Nov-13,0.0,1000.0,536 days,536 days

In [126]:
ff = enquiry[(enquiry.count_enquiry_recency_90<= '90days')]
gg = ff.groupby(ff['customer_no'])
hh = gg.count()
enqCount_ninety = hh.loc[:,['count_enquiry_recency_90']]
data_2 = data_1.join(enqCount_ninety, on='customer_no')
data_2.count_enquiry_recency_90.fillna(0, inplace=True)
data_2.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,NaN,NaN,0000-00-00,0.0,98220XXXXX,1.0,N,0,3.0,0.0
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,NaN,NaN,0000-00-00,0.0,98308XXXXX,1.0,N,0,0.0,0.0
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,NaN,NaN,0000-00-00,0.0,98107XXXXX,1.0,N,0,1.0,1.0
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,NaN,NaN,0000-00-00,0.0,98100XXXXX,1.0,N,0,2.0,0.0
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,NaN,NaN,1/31/44,1.0,98202XXXXX,2.0,N,0,2.0,0.0

## mean_diff_open_enquiry_dt

In [127]:
enquiry['mean_diff_open_enquiry_dt'] = dt_opened - enquiry_dt 
enquiry.head()

,dt_opened,customer_no,upload_dt,enquiry_dt,enq_purpose,enq_amt,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt
0,21-Apr-15,1,21-Apr-15,10-Nov-14,51.0,100000.0,162 days,162 days,162 days
1,21-Apr-15,1,21-Apr-15,4-Sep-14,12.0,1000000.0,229 days,229 days,229 days
2,21-Apr-15,1,21-Apr-15,4-May-14,51.0,125000000.0,352 days,352 days,352 days
3,21-Apr-15,1,21-Apr-15,19-Dec-13,3.0,400000000.0,488 days,488 days,488 days
4,21-Apr-15,1,21-Apr-15,1-Nov-13,0.0,1000.0,536 days,536 days,536 days

In [128]:
lll = enquiry.groupby("customer_no")["mean_diff_open_enquiry_dt"].apply(lambda x: x.mean())
llll= lll.dt.days

In [129]:
data_3 = data_2.join(llll, on='customer_no')
data_3.mean_diff_open_enquiry_dt.fillna(0, inplace=True)
data_3.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_74,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,NaN,0000-00-00,0.0,98220XXXXX,1.0,N,0,3.0,0.0,1343.0
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,NaN,0000-00-00,0.0,98308XXXXX,1.0,N,0,0.0,0.0,1370.0
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,NaN,0000-00-00,0.0,98107XXXXX,1.0,N,0,1.0,1.0,1914.0
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,NaN,0000-00-00,0.0,98100XXXXX,1.0,N,0,2.0,0.0,2016.0
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,NaN,1/31/44,1.0,98202XXXXX,2.0,N,0,2.0,0.0,633.0

## max_freq_enquiry

In [130]:
ppp = enquiry.groupby("customer_no")["enq_purpose"].apply(lambda x: x.max()) # To get most frequent enquiry purpose
data_4 = data_3.join(ppp, on='customer_no')
data_4.rename(columns={ 'enq_purpose' : 'max_freq_enquiry' },inplace=True) # rename the lable to max_freq_enquiry

In [131]:
data_4["max_freq_enquiry"] = data_4["max_freq_enquiry"].fillna(0.0).astype(int)
data_4["count_enquiry_recency_365"] = data_4["count_enquiry_recency_365"].fillna(0.0).astype(int)
data_4["count_enquiry_recency_90"] = data_4["count_enquiry_recency_90"].fillna(0.0).astype(int)
data_4["mean_diff_open_enquiry_dt"] = data_4["mean_diff_open_enquiry_dt"].fillna(0.0).astype(int)

In [132]:
data_4.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_75,feature_76,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,0000-00-00,0.0,98220XXXXX,1.0,N,0,3,0,1343,51
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,0000-00-00,0.0,98308XXXXX,1.0,N,0,0,0,1370,10
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,0000-00-00,0.0,98107XXXXX,1.0,N,0,1,1,1914,10
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,0000-00-00,0.0,98100XXXXX,1.0,N,0,2,0,2016,51
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,1/31/44,1.0,98202XXXXX,2.0,N,0,2,0,633,51

## mean_diff_lastpaymt_opened_dt

In [133]:
account.head()

,dt_opened,customer_no,upload_dt,acct_type,owner_indic,opened_dt,last_paymt_dt,closed_dt,reporting_dt,high_credit_amt,...,amt_past_due,paymenthistory1,paymenthistory2,paymt_str_dt,paymt_end_dt,creditlimit,cashlimit,rateofinterest,paymentfrequency,actualpaymentamount
0,01-Oct-15,8226,07-Sep-15,10,1,23-Jul-15,NaN,NaN,20-Aug-15,31937.0,...,NaN,"""""""000""""""",NaN,01-Aug-15,01-Aug-15,54000.0,10000.0,39,3.0,NaN
1,01-Oct-15,8226,07-Sep-15,10,1,27-Mar-15,09-Aug-15,NaN,22-Aug-15,51311.0,...,NaN,"""""""000000000000000""""""",NaN,01-Aug-15,01-Apr-15,60000.0,12000.0,NaN,3.0,24012.0
2,01-Oct-15,8226,07-Sep-15,5,1,28-Feb-15,07-Jul-15,NaN,31-Jul-15,150000.0,...,NaN,"""""""000000000000000""""""",NaN,01-Jul-15,01-Mar-15,NaN,NaN,NaN,3.0,5274.0
3,01-Oct-15,8226,07-Sep-15,10,1,27-Aug-14,26-Jul-15,NaN,31-Jul-15,19000.0,...,NaN,"""""""000000000000000000000000000000000000""""""",NaN,01-Jul-15,01-Aug-14,NaN,NaN,NaN,NaN,NaN
4,29-Jul-15,3439,23-Jul-15,6,1,25-Apr-15,02-Jun-15,NaN,30-Jun-15,18500.0,...,NaN,"""""""000000000""""""",NaN,01-Jun-15,01-Apr-15,NaN,NaN,NaN,NaN,NaN

In [134]:
account.shape

(79568, 21)

In [135]:
account = account.sort_values('customer_no',ascending=True)

In [136]:
last_paymt_dt = pd.to_datetime(account['last_paymt_dt'])
opened_dt = pd.to_datetime(account['opened_dt'])

In [137]:
account['mean_diff_lastpaymt_opened_dt'] = last_paymt_dt - opened_dt

In [138]:
m = account.groupby("customer_no")["mean_diff_lastpaymt_opened_dt"].apply(lambda x: x.mean())
mm= m.dt.days
data_5 = data_4.join(mm, on='customer_no')
data_5.mean_diff_lastpaymt_opened_dt.fillna(0, inplace=True)
data_5["mean_diff_lastpaymt_opened_dt"] = data_5["mean_diff_lastpaymt_opened_dt"].fillna(0.0).astype(int)
data_5.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_76,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,0.0,98220XXXXX,1.0,N,0,3,0,1343,51,1291
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,0.0,98308XXXXX,1.0,N,0,0,0,1370,10,817
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,0.0,98107XXXXX,1.0,N,0,1,1,1914,10,1786
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,0.0,98100XXXXX,1.0,N,0,2,0,2016,51,1592
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,1.0,98202XXXXX,2.0,N,0,2,0,633,51,6967

## Ratio_currbalance_creditlimit 
### [total cur_bal_amt / total credit limit]

In [139]:
total_cur_bal_amt = account.groupby("customer_no")["cur_balance_amt"].apply(lambda x: x.sum())

In [140]:
total_credit_limit = account.groupby("customer_no")["creditlimit"].apply(lambda x: x.sum())

In [141]:
account['Ratio_currbalance_creditlimit'] = total_cur_bal_amt / total_credit_limit

In [142]:
data_6 = data_5.join(account['Ratio_currbalance_creditlimit'], on='customer_no')
data_6.Ratio_currbalance_creditlimit.fillna(0, inplace=True)

In [143]:
data_6.Ratio_currbalance_creditlimit[np.isneginf(data_6.Ratio_currbalance_creditlimit)] = 0
data_6.Ratio_currbalance_creditlimit[np.isinf(data_6.Ratio_currbalance_creditlimit)] = 0
data_6["Ratio_currbalance_creditlimit"] = data_6["Ratio_currbalance_creditlimit"].fillna(0.0).astype(int)

In [144]:
data_6.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_77,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,98220XXXXX,1.0,N,0,3,0,1343,51,1291,29
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,98308XXXXX,1.0,N,0,0,0,1370,10,817,0
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,98107XXXXX,1.0,N,0,1,1,1914,10,1786,19
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,98100XXXXX,1.0,N,0,2,0,2016,51,1592,2
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,98202XXXXX,2.0,N,0,2,0,633,51,6967,0

## utilisation_trend 
### total cur_bal_amt / total creditlimit]/[mean cur_bal_amt / (meancredit limit+ mean_cashlimit)]

In [145]:
mean_cur_bal_amt = account.groupby("customer_no")["cur_balance_amt"].apply(lambda x: x.mean())
mean_credit_limit = account.groupby("customer_no")["creditlimit"].apply(lambda x: x.mean())
mean_cashlimit = account.groupby("customer_no")["cashlimit"].apply(lambda x: x.mean())

In [146]:
account['utilisation_trend'] = data_6.Ratio_currbalance_creditlimit / (mean_cur_bal_amt/(mean_credit_limit+mean_cashlimit))

In [147]:
data_7 = data_6.join(account['utilisation_trend'], on='customer_no')
data_7.utilisation_trend.fillna(0, inplace=True)
data_7.utilisation_trend[np.isneginf(data_7.utilisation_trend)] = 0
data_7.utilisation_trend[np.isinf(data_7.utilisation_trend)] = 0
data_7["utilisation_trend"] = data_7["utilisation_trend"].fillna(0.0).astype(int)

In [148]:
data_7.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_78,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,1.0,N,0,3,0,1343,51,1291,29,0
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,1.0,N,0,0,0,1370,10,817,0,0
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,1.0,N,0,1,1,1914,10,1786,19,0
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,1.0,N,0,2,0,2016,51,1592,2,0
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,2.0,N,0,2,0,633,51,6967,0,637

## payment_history_mean_length

In [149]:
account['payment_history_mean_length'] = account.paymenthistory1.apply(lambda x: len(x))

In [150]:
account['payment_history_mean_length'] = account.groupby("customer_no")["payment_history_mean_length"].apply(lambda x: x.mean())

In [151]:
data_8 = data_7.join(account['payment_history_mean_length'], on='customer_no')
data_8.payment_history_mean_length.fillna(0, inplace=True)
data_8.payment_history_mean_length.round()
data_8["payment_history_mean_length"] = data_8["payment_history_mean_length"].astype(int)

In [152]:
data_8.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_79,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,N,0,3,0,1343,51,1291,29,0,47
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,N,0,0,0,1370,10,817,0,0,60
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,N,0,1,1,1914,10,1786,19,0,54
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,N,0,2,0,2016,51,1592,2,0,45
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,N,0,2,0,633,51,6967,0,637,51

## The averge enquiry amount

In [153]:
account['avg_enq_amount'] = enquiry.groupby("customer_no")["enq_amt"].apply(lambda x: x.mean())

In [154]:
data_9 = data_8.join(account['avg_enq_amount'], on='customer_no')
data_9.avg_enq_amount.fillna(0, inplace=True)
data_9["avg_enq_amount"] = data_9["avg_enq_amount"].fillna(0.0).astype(int)
data_9.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,Bad_label,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length,avg_enq_amount
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,0,3,0,1343,51,1291,29,0,47,60982181
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,0,0,0,1370,10,817,0,0,60,25500
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,0,1,1,1914,10,1786,19,0,54,11796247
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,0,2,0,2016,51,1592,2,0,45,25427560
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,0,2,0,633,51,6967,0,637,51,2240400

## total_diff_lastpaymt_opened_dt
The total duration between last
payment date and account
opened date of all accounts

In [155]:
account['total_diff_lastpaymt_opened_dt'] = last_paymt_dt - opened_dt 
vv= account.groupby("customer_no")["total_diff_lastpaymt_opened_dt"].apply(lambda x: x.sum())
vvv= vv.dt.days
data_10 = data_9.join(vvv, on='customer_no')
data_10.total_diff_lastpaymt_opened_dt.fillna(0, inplace=True)
data_10.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,count_enquiry_recency_365,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length,avg_enq_amount,total_diff_lastpaymt_opened_dt
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,3,0,1343,51,1291,29,0,47,60982181,14207
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,0,0,1370,10,817,0,0,60,25500,817
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,1,1,1914,10,1786,19,0,54,11796247,17867
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,2,0,2016,51,1592,2,0,45,25427560,35033
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,2,0,633,51,6967,0,637,51,2240400,27870

## max_diff_payment_start_end_dt

In [156]:
paymt_str_dt= pd.to_datetime(account['paymt_str_dt'])
paymt_end_dt = pd.to_datetime(account['paymt_end_dt'])

In [157]:
account['max_diff_payment_start_end_dt'] = paymt_str_dt - paymt_end_dt

In [158]:
j = account.groupby("customer_no")["max_diff_payment_start_end_dt"].apply(lambda x: x.sum())
jj= j.dt.days

In [159]:
data_11 = data_10.join(jj, on='customer_no')
data_11.mean_diff_open_enquiry_dt.fillna(0, inplace=True)
data_11.head()

,dt_opened,customer_no,entry_time,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length,avg_enq_amount,total_diff_lastpaymt_opened_dt,max_diff_payment_start_end_dt
0,21-Apr-15,1,17-Apr-15,Insignia,17-Apr-15,726.0,1.0,Card Setup,14.0,1200000.0,...,0,1343,51,1291,29,0,47,60982181,14207,11538
1,12-May-15,2,6-May-15,Insignia,6-May-15,844.0,1.0,Card Setup,14.0,300000.0,...,0,1370,10,817,0,0,60,25500,817,1064
2,21-May-15,3,20-May-15,Insignia,20-May-15,723.0,3.0,Card Setup,14.0,1500000.0,...,1,1914,10,1786,19,0,54,11796247,17867,8818
3,22-May-15,4,22-May-15,Insignia,22-May-15,778.0,1.0,Card Setup,14.0,2500000.0,...,0,2016,51,1592,2,0,45,25427560,35033,14482
4,22-May-15,5,12-May-15,Insignia,13-May-15,810.0,1.0,Card Setup,14.0,500000.0,...,0,633,51,6967,0,637,51,2240400,27870,4383

# Data Cleaning and Dropping

In [160]:
data_11.shape

(10240, 94)

In [161]:
final_data= data_11.drop(['dt_opened','entry_time', 'customer_no', 'feature_2', 'feature_5', 'feature_9', 'feature_10',
                                   'feature_14','feature_18','feature_20','feature_22','feature_24','feature_28', 'feature_29','feature_39','feature_44','feature_45','feature_46','feature_47',
                                  'feature_49', 'feature_53','feature_54','feature_57','feature_61','feature_62','feature_63',
                                  'feature_66','feature_70','feature_73','feature_74','feature_75','feature_77','feature_79'], axis=1)

In [162]:
final_data.head()

,feature_1,feature_3,feature_4,feature_6,feature_7,feature_8,feature_11,feature_12,feature_13,feature_15,...,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length,avg_enq_amount,total_diff_lastpaymt_opened_dt,max_diff_payment_start_end_dt
0,Insignia,726.0,1.0,14.0,1200000.0,NaN,Y,IS1,NaN,157,...,0,1343,51,1291,29,0,47,60982181,14207,11538
1,Insignia,844.0,1.0,14.0,300000.0,NaN,Y,IS1,NaN,167,...,0,1370,10,817,0,0,60,25500,817,1064
2,Insignia,723.0,3.0,14.0,1500000.0,NaN,Y,IS2,NaN,116,...,1,1914,10,1786,19,0,54,11796247,17867,8818
3,Insignia,778.0,1.0,14.0,2500000.0,NaN,Y,IS2,NaN,182,...,0,2016,51,1592,2,0,45,25427560,35033,14482
4,Insignia,810.0,1.0,14.0,500000.0,NaN,Y,IS1,NaN,155,...,0,633,51,6967,0,637,51,2240400,27870,4383

In [163]:
data_11['feature_22'].dtype

dtype('O')

In [164]:
final_data['feature_8'] = final_data['feature_8'].fillna('None') # for feature_8

In [165]:
final_data['feature_13'] = final_data['feature_13'].fillna('None')# for feature_13

In [166]:
final_data['feature_15'] = final_data['feature_15'].fillna('None')# for feature_15

In [167]:
final_data['feature_16'] = final_data['feature_16'].fillna('None')# for feature_16

In [168]:
final_data['feature_17'] = final_data['feature_17'].fillna('None')# for feature_17

In [169]:
ll = pd.to_datetime(final_data['feature_21'])                     # for feature_21
bb = ll.apply(lambda x: x.strftime('19%y')if not pd.isnull(x) else '')
bb = pd.to_numeric(bb)

In [170]:
import time
from datetime import date
today = date.today()
age = today.year - bb
final_data['feature_21'] = age.fillna(0.0).astype(int)  # for feature_21

In [171]:
final_data['feature_27'] = final_data['feature_27'].fillna('None')  # For feature_27

In [172]:
import time                                                    # For feature_30
from datetime import date
today = date.today()
final_data['feature_30'] = today.year - final_data['feature_30']
final_data['feature_30'] = final_data['feature_30'].fillna(0.0).astype(int)

In [173]:
final_data['feature_36'] = final_data['feature_36'].fillna('None') # For feature_36

In [174]:
final_data['feature_37'] = final_data['feature_37'].fillna('None') # For feature_37

In [175]:
final_data['feature_38'] = final_data['feature_38'].fillna('Others') # For feature_38

In [176]:
final_data['feature_48'] = final_data['feature_48'].fillna('Other Bank') # For feature_48

In [177]:
final_data['feature_51'] = final_data['feature_51'].fillna('Other Bank') # For feature_51

In [178]:
final_data =  final_data[(final_data.feature_3> 200)]

In [179]:
final_data.dropna()

,feature_1,feature_3,feature_4,feature_6,feature_7,feature_8,feature_11,feature_12,feature_13,feature_15,...,count_enquiry_recency_90,mean_diff_open_enquiry_dt,max_freq_enquiry,mean_diff_lastpaymt_opened_dt,Ratio_currbalance_creditlimit,utilisation_trend,payment_history_mean_length,avg_enq_amount,total_diff_lastpaymt_opened_dt,max_diff_payment_start_end_dt
0,Insignia,726.0,1.0,14.0,1200000.0,None,Y,IS1,None,157,...,0,1343,51,1291,29,0,47,60982181,14207,11538
1,Insignia,844.0,1.0,14.0,300000.0,None,Y,IS1,None,167,...,0,1370,10,817,0,0,60,25500,817,1064
2,Insignia,723.0,3.0,14.0,1500000.0,None,Y,IS2,None,116,...,1,1914,10,1786,19,0,54,11796247,17867,8818
3,Insignia,778.0,1.0,14.0,2500000.0,None,Y,IS2,None,182,...,0,2016,51,1592,2,0,45,25427560,35033,14482
4,Insignia,810.0,1.0,14.0,500000.0,None,Y,IS1,None,155,...,0,633,51,6967,0,637,51,2240400,27870,4383
5,Insignia,601.0,2.0,14.0,500000.0,None,Y,IS1,None,157,...,0,1128,51,1659,16,0,60,35477076,6637,5782
6,Insignia,712.0,1.0,14.0,1000000.0,None,Y,IS1,None,113,...,0,453,10,375,0,0,45,14689,751,759
7,Insignia,620.0,2.0,14.0,1000000.0,None,Y,IS1,None,4462,...,1,1905,10,1459,0,0,37,43909,18975,8337
8,Insignia,772.0,1.0,14.0,500000.0,None,Y,IS1,None,155,...,0,1894,51,782,0,243,28,19262705,4695,2527
9,Platinum Maxima,702.0,3.0,14.0,100000.0,None,Y,PM1,None,W01,...,0,1779,51,1277,2,0,46,223801,30649,17131
10,Insignia,794.0,1.0,14.0,1200000.0,None,Y,IS2,None,5785,...,1,437,54,3441,0,5737,51,128128750,13767,5205
11,Insignia,670.0,3.0,14.0,1200000.0,None,Y,IS1,None,113,...,6,997,51,1399,33,0,35,38462812,30794,13782
12,Insignia,775.0,1.0,14.0,500000.0,None,Y,IS1,None,147,...,0,1128,54,1043,0,0,49,30256666,5218,3680
13,Insignia,786.0,1.0,14.0,500000.0,None,Y,IS1,None,147,...,0,1551,54,1215,4,0,59,26541666,4861,3679
14,Insignia,867.0,1.0,14.0,500000.0,None,Y,IS1,None,141,...,0,2891,1,3216,0,-3500,33,300000,16083,3316
15,Insignia,796.0,1.0,14.0,700000.0,None,Y,IS1,None,100,...,0,1718,51,1969,10,0,45,24574460,21664,10379
16,Insignia,789.0,1.0,14.0,500000.0,None,Y,IS1,None,155,...,0,1399,12,860,0,0,55,177333,1721,3771
17,Insignia,694.0,1.0,14.0,167000.0,None,Y,IS2,None,159,...,1,1698,54,1940,0,5674,51,27666526,21342,10184
18,Insignia,747.0,1.0,14.0,350000.0,None,Y,IS1,None,DD01,...,1,1796,10,1162,7,1391,42,990502,15117,15706
19,Platinum Deligh,652.0,3.0,14.0,35000.0,None,Y,PD1,PD3,SA03,...,7,1172,51,545,1349,0,31,9650995,28925,22660
20,Insignia,734.0,1.0,14.0,300000.0,None,Y,IS1,None,159,...,0,0,0,1598,0,0,49,0,6393,3225
21,Insignia,767.0,1.0,14.0,500000.0,None,Y,IS2,None,100,...,1,2158,10,1025,0,0,41,1846110,9232,5320
22,Insignia,800.0,3.0,14.0,200000.0,None,Y,IS1,None,100,...,0,3309,10,1366,0,0,60,25000,4099,3195
23,Insignia,714.0,2.0,14.0,500000.0,None,Y,IS1,None,155,...,1,1513,17,923,0,291308,46,13822142,6463,5873
24,Insignia,568.0,2.0,14.0,500000.0,None,Y,IS1,None,167,...,17,1554,51,1527,119,0,45,13071918,80947,42164
25,Insignia,696.0,3.0,14.0,100000.0,RRTVR,Y,IS1,None,155,...,2,1042,51,2671,0,0,43,37994303,32061,11987
27,Platinum Deligh,737.0,1.0,14.0,109000.0,None,Y,PD1,PD3,DP14,...,1,1220,12,1504,0,0,44,358267,18050,8027
28,Insignia,841.0,1.0,14.0,500000.0,None,Y,IS1,None,112,...,0,1804,51,1546,18,0,50,932871,7731,5596
29,Platinum Maxima,792.0,3.0,14.0,500000.0,RCFO,Y,PM1,None,AC02,...,1,1610,51,1381,0,0,48,1499285,9667,7942
31,Insignia,862.0,1.0,14.0,500000.0,None,Y,IS2,None,159,...,1,684,51,964,0,0,43,12502200,3859,4046
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10206,RBL Bank Fun+,830.0,1.0,14.0,126000.0,None,N,PB1,None,BMS1,...,3,2062,10,1343,63,0,51,3213786,13437,9462
10207,RBL Bank Fun+,721.0,1.0,14.0,82000.0,None,Y,PB1,None,SARE,...,4,36,10,248,0,0,18,26375,496,184
10208,RBL Bank Fun+,761.0,1.0,14.0,157000.0,None,Y,PB1,None,BBD1,...,0,2195,51,1268,5,14,54,117250,25365,14848
10209,RBL Bank Fun+,770.0,1.0,14.0,150000.0,None,Y,PB1,None,W01,...,0,1658,10,1400,19,0,41,7234733,22400,9524
10210,RBL Bank Fun+,780.0,1.0,14.0,203000.0,None,Y,PB1,None,BMS1,...,0,1035,10,1100,0,0,42,90250,3300,2767
10211,RBL Bank Fun+,705.0,1.0,14.0,174000.0,None,Y,PB1,None,BMS1,...,0,1056,10,745,5,0,38,287000,1491,1429
10212,RBL Bank Fun+,705.0,3.0,14.0,222000.0,None,Y,PB1,None,W01,...,0,558,10,603,0,0,60,28750,1811,3283
10213,RBL Bank Fun+,773.0,1.0,14.0,115000.0,None,Y,PB1,None,PHKF,...,0,1837,10,468,0,0,35,33666,3282,3257
10215,RBL Bank Fun+,697.0,1.0,14.0,66000.0,None,Y,PB1,None,SA14,...,1,573,10,292,1,14,44,54000,585,1247
10216,RBL Bank Fun+,740.0,1.0,14.0,258000.0,None,Y,PB1,None,BMS1,...,0,1524,10,1031,7,0,49,311852,7217,6570
10217,RBL Bank Fun+,682.0,3.0,14.0,56000.0,None,Y,PB1,None,DGM0,...,1,255,10,163,0,0,26,20200,490,517
10218,Platinum Maxima,767.0,3.0,14.0,130000.0,None,N,PM1,None,SA05,...,2,509,10,346,0,0,44,155047,1730,2341
10219,Titanium Deligh,673.0,3.0,14.0,68000.0,None,Y,TD1,None,W01,...,2,501,10,302,0,43,33,29421,3028,2530
10220,Titanium Deligh,741.0,3.0,14.0,163000.0,RCFO,Y,TD1,None,W01,...,4,777,13,1110,11,1,39,60161,8880,5262
10221,Platinum Deligh,711.0,3.0,14.0,99000.0,None,Y,PD1,PD3,SA03,...,2,649,13,615,1,0,47,38137,8620,7847
10222,Platinum Deligh,715.0,1.0,14.0,87000.0,None,Y,PD1,PD3,SA05,...,1,352,10,292,0,0,39,51333,292,304
10223,Platinum Deligh,713.0,3.0,14.0,104000.0,None,N,PD1,PD3,SA03,...,1,2049,10,1332,0,0,43,75424,23984,12660
10224,Platinum Deligh,682.0,3.0,14.0,66000.0,None,Y,PD1,PD3,SA03,...,0,548,10,524,0,0,54,27400,2096,2069
10226,Titanium Deligh,704.0,1.0,14.0,107000.0,None,Y,TD1,None,SA31,...,2,729,10,713,1,0,39,77900,5705,4138
10227,Platinum Deligh,752.0,1.0,14.0,127000.0,None,Y,PD1,PD3,MA03,...,3,902,10,1161,0,0,53,21286,5807,3502
10228,Titanium Deligh,700.0,3.0,14.0,91000.0,None,Y,TD1,None,SA03,...,1,244,13,268,0,0,40,28538,537,635
10229,Titanium Deligh,685.0,3.0,14.0,91000.0,None,Y,TD1,None,SA03,...,1,487,13,406,0,0,37,58928,1625,1460
10230,Platinum Deligh,705.0,3.0,14.0,90000.0,None,Y,PD1,PD3,SA03,...,1,140,10,491,1,0,29,3250,1473,820
10231,Platinum Deligh,715.0,1.0,14.0,408000.0,None,Y,PD1,PD3,SA03,...,1,1472,10,1068,0,0,47,1042250,13886,9913
10232,Platinum Deligh,669.0,3.0,14.0,71000.0,None,Y,PD1,PD3,SA03,...,1,497,13,310,0,6,31,65959,2173,2163
10234,Platinum Maxima,720.0,1.0,14.0,240000.0,None,Y,PM1,None,MA02,...,0,2125,10,1080,0,0,45,57402,25927,17616
10236,Platinum Deligh,676.0,3.0,14.0,83000.0,None,Y,PD1,PD3,SA43,...,1,414,10,180,1,0,24,43314,901,943
10237,Titanium Deligh,726.0,1.0,14.0,114000.0,None,Y,TD1,None,HA03,...,0,703,10,577,0,0,44,28500,3466,2648
10238,Platinum Deligh,736.0,3.0,14.0,121000.0,None,Y,PD1,PD3,SA03,...,0,521,10,442,0,0,48,41250,885,881
10239,Platinum Maxima,724.0,3.0,14.0,131000.0,RCFO,Y,PM1,None,W01,...,3,660,10,489,0,0,49,120634,2448,3101

In [180]:
final_data.to_excel('CIBIL Test.xlsx') # To export the data into Excel file